# General
__pycache__
.venv
*.pyc
.git
.env

# VsCode Specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# MacOs Specific
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
