<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<!-- Page Header-->
<header class="masthead"
    style="background-image: url('../static/assets/img/book-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ book.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2 class="subheading">Chapters:</h2>
            <!-- Post preview-->
            {% for chapter in all_chapters: %}
            <div class="post-preview">
                <p>{{ chapter.chapterName}}</p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
<!-- Footer-->
{% include 'footer.html' %}

</html>