{% extends 'base.html' %}
{% block title %}Library{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1 class="text-center">My Virtual Bookshelf</h1>
      <br>
      <table class="table table-dark table-striped table-hover" >
        <thead class="table-light table-group-divider">
            <tr>
              <th>Title</th>
              <th >Author</th>
              <th >Rating</th>
              <th >Delete</th>
            </tr>
         </thead>
        <tbody class="table-group-divider">
          {% for book in library %}
            <tr>
              <td >{{book.title}}</td>
              <td >{{book.author}}</td>
              <td > <a class="m-3" href="{{url_for('edit', book_id=book.id)}}">{{book.rating}} </a></td>
              <td > <a class="btn btn-danger btn-sm" role="button" href="{{url_for('delete', book_id=book.id)}}">Delete</a></td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
      <a class="btn btn-primary btn-lg" role="button" href="{{url_for('add')}}">Add New Book</a>
    </div>
  </div>
  <br>
  <div class="footer text-center">© 2024 Radu Chiriac</div>
</div>
 
{% endblock %}