<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url(
            '{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Lord of the Rings Books</h1>
                    <span class="subheading">An API demo website using Flask and
                        Jinja templates</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for book in all_books: %}
            <div class="post-preview">
                <a href="{{ url_for('show_book', index=book._id) }}">
                    <h2 class="post-title">{{ book.name }}</h2>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
<!-- Footer-->
{% include 'footer.html' %}

</html>