html {
    background-color: black;
}
div{
margin: 10%;
    text-align: center;
}
h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}
p{
    color: white;
}
img {
    border: 5px solid white;
    width: 100%;
}
