<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
</head>
<body>
    <h1 style="text-align: center;">Form Submission Example</h1>

    <form style="text-align: center;" method="post" action="{{ url_for('login') }}">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" size="10" placeholder="name"/>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" size="10" placeholder="password"/>
        <button type="submit">OK</button>
    </form>
</body>
</html>