{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Upload an Image</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="file" class="form-label">Choose an image file</label>
            <input class="form-control" type="file" id="file" name="file"
                onchange="previewImage(event)">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    {% if filename %}
    <div class="mt-5 text-center">
        <h2>Uploaded Image</h2>
        <img id="preview"
            src="{{ url_for('static', filename='uploads/' ~ filename) }}"
            alt="Uploaded Image" class="img-fluid">
    </div>
    {% endif %}
    {% if colors %}
    <div class="mt-5">
        <h2 class="text-center">Extracted Colors</h2>
        <div class="d-flex justify-content-center flex-wrap">
            {% for color in colors %}
            <div class="color-box" style="background-color: {{ color }};"
                onclick="copyToClipboard('{{ color }}')">
                <span>{{ color }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<br>
{% endblock %}